@tailwind base;
@tailwind components;
@tailwind utilities;

/* Estilos personalizados para el scrollbar */
.custom-scrollbar {
  scrollbar-width: thin;
  scrollbar-color: rgba(236, 72, 153, 0.5) rgba(31, 41, 55, 0.4);
}

.custom-scrollbar::-webkit-scrollbar {
  width: 8px;
}

.custom-scrollbar::-webkit-scrollbar-track {
  background: rgba(31, 41, 55, 0.4);
  border-radius: 10px;
}

.custom-scrollbar::-webkit-scrollbar-thumb {
  background: rgba(236, 72, 153, 0.5);
  border-radius: 10px;
}

.custom-scrollbar::-webkit-scrollbar-thumb:hover {
  background: rgba(236, 72, 153, 0.8);
}

@layer base {
  :root {
    --background: 0 0% 100%;
    --foreground: 222.2 84% 4.9%;
  }

  .dark {
    --background: 222.2 84% 4.9%;
    --foreground: 0 0% 100%;
  }

  body {
    @apply bg-black text-white overflow-x-hidden;
  }
}

.meteor {
  position: absolute;
  width: 2px;
  height: 2px;
  background-color: #fff;
  border-radius: 50%;
  box-shadow: 0 0 0 1px #ffffff10,
    0 0 0 2px #ffffff10,
    0 0 20px #fff;
}

.animate-meteor {
  position: absolute;
  animation: meteor 5s linear infinite;
  will-change: transform;
}

@keyframes meteor {
  0% {
    transform: translateY(0) translateX(0);
    opacity: 1;
  }
  70% {
    opacity: 1;
  }
  100% {
    transform: translateY(500px) translateX(-500px);
    opacity: 0;
  }
}

.circle {
  transition: transform 0.1s ease;
  will-change: transform;
}
